@import "bootstrap-sprockets";
@import "bootstrap";

/* Buffers */
.buffer-top {
  margin-top: 20px;
}

.buffer-top-large {
  margin-top: 40px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-bottom-large {
  margin-bottom: 40px;
}

.buffer-both {
  margin-bottom: 20px;
}

.buffer-both-large {
  margin-bottom: 40px;
  margin-top: 40px;
}
